.body {
  background: var(--color4);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*Main*/

.background-main {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 5.563rem;
}

.background-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #193b2d;
  background-image: url("../images/banner-home.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  position: relative;
  display: flex;
  padding: 5.3rem 0;
  height: 545px;
  width: inherit;
  max-width: var(--desktop-width);
  margin: 0 auto;
}

.main img {
  filter: drop-shadow(2px 4px 6px var(--color2));
}

/*Texto Main*/

.text-home {
  display: flex;
  flex-direction: column;
  width: 672px;
  margin-left: 6.6rem;
  height: 372px;
  justify-content: space-between;
}

.titulo-home {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.titulo-home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 8rem;
  height: 3px;
  background-color: var(--color2);
}

.sub-text-home {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
}

.sub-text-home a {
  font-size: 0.875rem;
  color: #6e3100;
  background-color: var(--color2);

  transition: 0.5s;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: 700;
  text-decoration: none;
  height: 2.75rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sub-text-home a:first-child {
  background-color: white;
  color: var(--color1);
  border: 2px solid var(--color1);
}

.sub-text-home a:hover {
  color: white;
  background-color: var(--color2);
  transform: translateY(-4px);
}

.sub-text-home a:first-child:hover {
  background-color: var(--color1);
  color: var(--color4);
}

/*Títulos Main*/

.main h1 {
  text-transform: uppercase;
  text-align: start;
  margin: 0;
  color: var(--color4);
  font-size: 2.5rem;
  line-height: 120%;
  position: relative;
  margin-bottom: 3rem;
}

.main h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 8rem;
  height: 3px;
  background-color: var(--color2);
}

.main p {
  color: var(--color4);
  text-align: start;
  font-size: 1.125rem;
  line-height: 140%;
}
/*voluntariado*/

.voluntariado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color4);
  width: 100%;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  max-width: var(--desktop-width);
}

.tipo-vo-texto {
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tipo-vo-texto h3 {
  color: var(--color1);
}
.tipo-vo-texto p {
  word-wrap: break-word;
  font-size: 25px;
  font-size: clamp(0.3em, 0.6em + 1vw, 1em);
}
.tipo-vo-texto h1::first-letter,
.tipo-vo-texto p::first-letter {
  text-transform: capitalize;
}

/*Tipo de Voluntariado*/

.card-container {
  display: grid;
  width: 85%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.card-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-img {
  width: 100%;
  height: 50%;
}
.card-img img {
  border-radius: 15px;
  border: 1px var(--color2) solid;
  width: 100%;
  height: 100%;
}
.card-text h2 {
  margin-bottom: 0.5rem;
}
.card-text {
  height: 50%;
  width: 100%;
  text-align: center;
  word-break: break-all;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text a {
  color: var(--color3);
  text-decoration: none;
  border-bottom: 3px solid var(--color1);
  align-self: center;
}

/*VIDEO*/

.video-espacio {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  gap: 40px;
  background-color: white;
  padding: 50px 0px;
}

.titulo-video {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text-video {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  width: 284px;
  gap: 50px;
  justify-content: space-around;
}

.titulo-h2 {
  position: relative;
  font-weight: 700;
  text-align: left;
  font-size: 1.7rem;
}

.titulo-h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 8rem;
  height: 3px;
  background-color: var(--color2);
}

.titulo-h2.second::after {
  left: 15%;
  width: 70%;
}

.sub-text-video a {
  font-size: 1em;
  font-weight: 500;
  color: var(--color4);

  padding: 13px 35px;
  border-radius: 10px;
  background-color: var(--color1);

  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.sub-text-video a:hover {
  color: var(--color1);
  background-color: var(--color2);
}

.video video {
  width: 700px;
  border-radius: 20px;
}

/*Proceso de Voluntariado*/

section.registro-processo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section.registro-processo .processo-voluntariado {
  display: flex;
  flex-direction: column;
  background: url("../images/Processo de voluntariado.png") center/cover
    no-repeat;
}

section.registro-processo .processo-voluntariado .container {
  width: 100%;
  max-width: var(--desktop-width);
  margin: 78px auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1120px) {
  section.registro-processo .processo-voluntariado .container {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

section.registro-processo .processo-voluntariado .container .processos {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
}

section.registro-processo .processo-voluntariado .container h1 {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--color4);
  max-width: 395px;
  text-align: left;
  position: relative;
  justify-self: center;
}

section.registro-processo .processo-voluntariado .container h1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 80px;
  width: 10rem;
  height: 3px;
  background-color: var(--color2);
}

section.registro-processo .processo-voluntariado .processo {
  display: flex;
  width: 100%;
  gap: 2rem;
  text-align: left;
}

section.registro-processo .processo-voluntariado .processo a {
  font-weight: bold;
  color: #000;
}

section.registro-processo .processo-voluntariado .processo .text-processo {
  display: flex;
  width: 100%;
  gap: 4rem;
  text-align: left;
}

section.registro-processo .processo-voluntariado .processo h2,
section.registro-processo .processo-voluntariado .processo h3 {
  font-size: 2rem;
  line-height: 1.2;
}

section.registro-processo .processo-voluntariado .processo p {
  font-size: 1rem;
  line-height: 1.2rem;
  max-width: 315px;
  margin-top: 1rem;
}

.registro-processo .processo-voluntariado .processos .processo:nth-child(3),
.registro-processo .processo-voluntariado .processos .processo:nth-child(4) {
  color: white;
}
/*Proceso de Lider*/

section.registro-processo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section.registro-processo .processo-lider {
  display: flex;
  flex-direction: column;
  background: url("../images/Processo de liderança.png") center/cover no-repeat;
}

section.registro-processo .processo-lider .container {
  width: 100%;
  max-width: var(--desktop-width);
  margin: 78px auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section.registro-processo .processo-lider .container .processos {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
}

section.registro-processo .processo-lider .container h1 {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--color4);
  max-width: 200px;
  text-align: right;
  position: relative;
  justify-self: center;
}

section.registro-processo .processo-lider .container h1::before {
  content: "";
  position: absolute;
  right: 0;
  top: 80px;
  width: 10rem;
  height: 3px;
  background-color: var(--color2);
}

section.registro-processo .processo-lider .processo {
  display: flex;
  width: 100%;
  gap: 2rem;
  text-align: left;
}

section.registro-processo .processo-lider .processo a {
  font-weight: bold;
  color: #000;
}

section.registro-processo .processo-lider .processo .text-processo {
  display: flex;
  width: 100%;
  gap: 4rem;
  text-align: left;
}

section.registro-processo .processo-lider .processo h2,
section.registro-processo .processo-lider .processo h3 {
  font-size: 2rem;
  line-height: 1.2;
}

section.registro-processo .processo-lider .processo p {
  font-size: 1rem;
  line-height: 1.2rem;
  max-width: 315px;
  margin-top: 1rem;
}
@media screen and (max-width: 1120px) {
  section.registro-processo .processo-lider .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
  }
  section.registro-processo .processo-lider .container h1 {
    font-size: 2rem;
    line-height: 1.2;
    color: var(--color1);
    max-width: unset;
    text-align: center;
    position: relative;
    justify-self: center;
  }
  section.registro-processo .processo-lider .container h1::before {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
  .background-main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
  }
  .main {
    justify-content: start;
    align-items: center;
    padding-top: 66px;
  }
  .text-home {
    width: 51%;
    margin: 0;
    padding: 20px;
    margin-left: 45px;
  }
  .video-espacio {
    flex-direction: column-reverse;
    align-items: center;
  }
  .text-video {
    align-items: center;
    width: 500px;
    gap: 36px;
    text-align: center;
  }
  .video video {
    width: 90%;
  }
  .titulo-h2 {
    align-self: center;
  }
  .titulo-h2::after {
    width: 100%;
    left: 0;
  }
}

/*Galeria*/

.banner-espacio {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 40px 0px;
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.banner-espacio h2 {
  position: relative;
  font-weight: 700;
  text-align: left;
  font-size: 1.5rem;
  margin-left: 60px;
  color: var(--color4);
}

.banner-espacio h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 20rem;
  height: 3px;
  background-color: var(--color2);
}

.desplazarImágenes {
  overflow: hidden;
  height: 500px;
  position: relative;
}

.contenedorImágenes {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  animation: desplazamientoHorizontal 40s linear infinite;
  width: calc(100% + 780px);
  position: absolute;
  top: 0;
  left: 0;
}

.contenedorImágenes img {
  width: 500px;
  height: 500px;
}

.desplazarImágenes:hover .contenedorImágenes {
  cursor: pointer;
  animation-play-state: paused;
}

@keyframes desplazamientoHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-500px * 8));
  }
}

/*PERGUNTAS*/

.perguntas-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 70px 0;
}

.pergunta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 25px;
}

.pergunta-encabeçado {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgba(8, 79, 84, 0.1);
}

.titulo-pergunta {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 10px;
  text-align: start;
}

.titulo-pergunta h2 {
  color: var(--color1);
  margin: 0;
  font-size: 1.5rem;
}

.titulo-pergunta h1 {
  opacity: 0.9;
  font-size: 1.7rem;
}

/*signo de +*/

.sign {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.sign > div {
  background-color: var(--color1);
  height: 4px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}

.sign div:first-child {
  transform: rotate(90deg);
  position: relative;
  left: 50%;
  width: 20px;
}

.sign div:nth-child(2) {
  position: relative;
  top: 30%;
}

.sign.active div:first-child {
  width: 0;
}

/*resposta*/

.resposta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear, padding 0.5s linear;
  width: 100%;
}

.resposta.show {
  max-height: 400px;
  padding: 10px 0;
  box-shadow: 0px 1.5px 0px 0px rgba(8, 79, 84, 0.3);
  padding-left: 2rem;
}

.resposta p {
  opacity: 0;
  font-size: 1rem;
  text-align: start;
  transition: opacity 1s;
}

.resposta.show p {
  opacity: 1;
}

@media only screen and (max-width: 940px) {
  .video-espacio {
    flex-direction: column-reverse;
  }
  .voluntariado {
    display: flex;
    align-items: center;
    background-color: var(--color4);
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    height: auto;
    min-height: 60%;
    padding: 2rem;
    justify-content: center;
  }
  .tipo-vo-texto {
    height: 20%;
    width: 90%;
  }
  .card-container {
    width: 90%;
    height: auto;
    max-height: 60%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .card-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .card-text h2 {
    font-size: clamp(0.3em, 0.4em + 1vw, 1em);
  }
  .card-text p {
    font-size: clamp(0.3em, 0.4em + 1vw, 0.8em);
  }
  .card-text a {
    color: var(--color3);
    text-decoration: none;
    border-bottom: 3px solid var(--color1);
    font-size: clamp(0.3em, 0.4em + 1vw, 0.8em);
  }
  .sub-text-home {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: clamp(0.3em, 0.4em + 1vw, 0.8em);
    width: 100%;
  }
  .registro-processo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: url(../images/fundo.png);
    background-size: cover;
    background-position: center;
    background-attachment: local;
    z-index: 0;
  }
  .proceso-voluntariado {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 2rem;
  }
  .proceso-texto.contato h2 {
    color: var(--color2);
  }
  h2.h2-proceso-voluntariado {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 670px) {
  .body {
    gap: 5rem;
    height: auto;
  }
  .background-main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    padding: 0%;
    flex: 1;
  }
  .background-main::before {
    width: 100%;
    height: 100%;
    /* max-height: 100vh; */
    background-image: url("../images/banner-home.svg");
  }
  .main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    height: inherit;
    padding: 0;
    flex: 1;
    height: 100%;
  }
  .main h1 {
    text-align: center;
    font-size: 32px;
    max-width: 300px;
  }
  .main p {
    text-align: center;
    font-size: 16px;
  }

  .main .text-home {
    padding: 0;
    justify-content: space-between;
    flex: 1;
    margin-top: 5rem;
    padding: 0 2rem;
    height: 100%;
  }

  .main .text-home .text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }

  .main .sub-text-home {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .text-home {
    margin: 0;
    width: 80%;
  }
  .voluntariado {
    gap: 1rem;
    height: auto;
    max-height: min-content;
    min-height: 100vh;
    margin-bottom: 2rem;
  }
  .card-container {
    display: grid;
    width: 85%;
    height: auto;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    max-height: max-content;
  }
  .card-item {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
  .card-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  .card-img img {
    border-radius: 15px;
    border: 1px var(--color2) solid;
    width: 100%;
  }
  .card-text {
    height: 40%;
    width: 100%;
    text-align: center;
    word-break: break-all;
    padding-top: 1rem;
  }
  .registro-processo {
    flex-direction: column;
  }

  .proceso-voluntariado {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(159, 152, 98, 0.345);
    padding: 3rem;
  }
  .proceso-texto-liderança h2 {
    color: var(--color1);
  }
  .proceso-texto p,
  .proceso-texto.contato p {
    color: var(--color4);
  }
  .proceso-voluntariado h1 {
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    background-clip: text;
    -webkit-background-clip: text; /* Prefijo para navegadores WebKit */
    color: transparent;
  }
  .proceso-voluntariado.liderança h1 {
    background-image: linear-gradient(
      to right,
      var(--color4),
      var(--color4),
      var(--color2)
    );
    background-clip: text;
    -webkit-background-clip: text; /* Prefijo para navegadores WebKit */
    color: transparent;
  }
  .text-video {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 80%;
    gap: 50px;
    justify-content: space-around;
  }
}
@keyframes voluntariado-imagen {
  0% {
    background: url("../images/voluntariado\ 1.jpeg");
  }
  33% {
    background: url("../images/voluntariado\ 2.jpeg");
  }
  66% {
    background: url("../images/voluntariado\ 3.jpeg");
  }
  100% {
    background: url("../images/voluntariado\ 1.jpeg");
  }
}
