
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: hsl(0, 0%, 96%);
  color: var(--color5);
  line-height: 1.6;
}

.background-image {
  width: 100%;
  height: 100vh;
  background-image: url("../images/home.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  z-index: 100px;
  filter: brightness(0.3);
  z-index: -1;
}

.container {
  position: absolute;
  right: 0;
  background: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  width: 70%;
  max-width: 900px;
  padding: 90px 80px;
  z-index: 1;
}

.container-titulo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-bottom: 20px;
  margin-top: 2rem;
}

.container-titulo h2:first-child {
  position: relative;
}

.container-titulo h2:first-child:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px; /* Ajusta según sea necesario para el espacio entre el texto y la línea */
  width: 135px;
  height: 5px; /* Grosor de la línea */
  background-color: var(--color2); /* Color de la línea */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: clamp(0.6em, 0.6em + 1vw, 1.1em);
}

.general-inputs {
  display: flex;
  flex-direction: column;
}

.inputs.formCadastro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  
} 
label {
  display: flex;
  align-items: center;
}

.input-field p {
  text-align: left;
}

.errorChar {
  color: var(--colorerror);
  padding-left: 0.5rem;
}

.errorTermo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: -2rem;
}

.error-message {
  color: var(--colorerror);
  font-size: small;
  text-align: left;
  margin-top: 0.75rem;
}

.error-message2{
  color: var(--colorerror);
  font-size: medium;
  text-align: center;
  margin-top: 1.5rem;
}


.input-field,
.form-group.formulario {
  margin-bottom: 15px;
}

/*Validación de Colores (Borde)*/

.input-field input:focus:required:invalid, .input-field select:focus:required:invalid {
  border: solid 3.5px #ae0000;
  background-color: #fbe9e9;
}

.input-field input:focus:required:valid, .input-field select:required:valid{
  border: 1px solid rgb(93, 238, 139);
  background-color: #0af04727;
}

.input-text:valid {
  border: 1px solid rgb(93, 238, 139);
  background-color: #0af04727;
}

.form-group.formulario {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  gap: 10px;
}

.form-group.formulario h4 {
  display: flex;
  align-items: center;
}

.form-group.formulario h4 span {
  color: #f00a0a;
  margin-left: 5px;
}

.input-field h4 {
  display: flex;
  align-items: center;
}

.input-field h4 span {
  color: #f00a0a;
  margin-left: 5px;
}

.App.SV {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  padding-bottom: 6px;
  font-weight: 400;
  color: var(--color5);
}

.input-text,
.form-select {
  width: 90%;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.input-text.login {
  width: 100%;
}

.dia-disponible {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 30px;
}

.dia-disponible button {
  background-color: transparent;
  color: var(--color1);
  height: 40px;
  width: 40px;
  border: var(--color5) solid 1px;
  border-radius: 4px;
}

.lembre-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 12px;
  padding: 20px 0px 60px;
  font-size: 16px;
  opacity: 0.8;
}

.lembre-text h1 {
  font-weight: 700;
  font-size: clamp(1em, 1em + 1vw, 1.25em);
}

.lembre-text h2:first-child {
  font-weight: 700;
}

.borrar {
  height: 40px;
  width: 20px;
}

.opcional {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;
  gap: 20px;
  text-align: start;
}

.legal-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
}

.legal-2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 20px;
  text-align: start;
}

.legal {
  display: flex;
  flex-direction: row;
  padding: 0 0 40px 0;
  text-align: start;
  gap: 15px;
}

.legal input[type="checkbox"], .legal-2 input[type="checkbox"] {
  height: 20px;
  width: 80px;
  align-self: center;
}

.contact-inputs {
  border: var(--color1) 2px solid;
  text-align: start;
  padding-left: 10px;
  padding-top: 15px;
}

button.SV {
  width: 50%;
  align-self: center;
  text-transform: uppercase;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: var(--color4);
  background-color: var(--color1);
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease,transform 0.3s ease;
  margin: 2rem 0 0.5rem 0;
}

button.SV:hover {
  background-color: var(--color7);
  transform: translateY(-0.5px);
}

button.submit-disabled,
button.submit-disabled:hover {
  opacity: 0.3;
  cursor: not-allowed;
}

@media (max-width: 850px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 90px 50px;
  }

  .input-field h4 {
    font-size: 1.2em;
  }
  .container-titulo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-bottom: 20px;
    margin-top: 2rem;
  }
  .inputs.formCadastro {
    gap: 1.5rem;
  }
}

.input-container {
  display: flex;
  align-items: center;
}
.visibility-icon {
  position:relative;
  margin-left: -2.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  background: none; 
  border: none;
  padding: 0;
  color: var(--color5);
  opacity: 1;
}

.visibility-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media (max-width: 600px) {
  .background-image {
    height: 100px;
  }

  .inputs.formCadastro {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .input-field h4 {
    font-size: 0.9em;
  }

  .input-text,
  .form-select,
  textarea {
    padding: 5px;
    font-size: clamp(0.5em, 0.5em + 1vw, 0.8em);
  }

  .button {
    width: 100%;
    padding: 8px;
  }
}
